<%- include('./partials/header.ejs')%>
    <main>
        <h1>About</h1>
        <section class="content-section container">
            <h3>Our Mission</h3>

        </section>
    </main><!-- main content-->
    <%- include('./partials/footer.ejs')%>