<%- include('../partials/header.ejs')%>
   <style>
       * {
        text-align: center;
       }
    </style>
    <main>
        <h1>Rate, ejs code here!</h1><br>

        <form>
            <a>Please enter rating (1-5): </a>
            <span class="rating">
                <input type="radio" name="rating" id="star-1">
                <input type="radio" name="rating" id="star-2">
                <input type="radio" name="rating" id="star-3">
                <input type="radio" name="rating" id="star-4">
                <input type="radio" name="rating" id="star-5">
            </span><br><br>

            <label for="trade">Trade: </label>
            <input type="text" id="trade" name="trade"><br><br>

            <label for="level">Inspection Level: </label>
            <input type="text" id="level" name="level"><br><br>

            <label for="county">County: </label>
            <input type="text" id="county" name="county"><br><br>

            <a>Comments:</a><br>
            <textarea rows="5" cols="33"></textarea>
        </form><br>
        <button>Submit rating</button>
    </main><!-- main content-->
<%- include('../partials/footer.ejs')%>